<!-- nav -->
<nav id="appCompNav" class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <table><tr>
        <td><a class="nav-item nav-link" routerLink="/">Home</a></td>
        <!-- #vishesh -->
        <td><a class="nav-item nav-link" (click)="register()">Stats</a></td>
        <td><a class="nav-item nav-link" (click)="register()">Reports</a></td>
        <td><a class="nav-item nav-link" (click)="register()">Settings</a></td>
        <td><a class="nav-item nav-link" (click)="logout()">Logout</a></td>
    </tr></table>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div style="text-align: center;" class="text-center">
    <p>
        <a href="https://www.lumen.com/en-us/home.html" target="_blank">Property of Lumen</a>
    </p>
    <p>
        <!-- <a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a> -->
    </p>
</div>