<h2>Businness Reports</h2>

  <div style="height: 20px; border-style: solid;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-top: 5px;
  background-color: darkgray;
  width: 100%;">
      <span style="font-size:large;"></span>
  </div>

  <table style="border-style: solid;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-top: 5px;
  width: 100%;
  width: 100%;">
      <tr>
          <td>
                <ul>
                    <li>Get User Account Status</li>
                </ul>
            </td>

            <td>
                <input type="text" placeholder="Enter value"/>
            </td>
          <td>
              <button>Find</button>
          </td>
      </tr>

      <tr>
        <td>
            <ul>
                <li>Get Registered Active Users
                </li>
            </ul>
        </td>

        <td >
          <select id="city" name="city">
              <option value="1">Platform</option>
              <option value="2">Denever</option>
              <option value="3">Marion</option>
              
            </select>
      </td>
      </tr>

      <tr>
        <td>
            <ul>
                <li>Export Services Associated with platform / City
                </li>
            </ul>
        </td>

        <td >
            <select id="city" name="city">
                <option value="1">Omaha</option>
                <option value="2">Denever</option>
                <option value="3">Marion</option>
                
              </select>
        </td>
      <!-- <td>
        <a><img src="/assets/image/status.png" style="height:40px "></a> 
      </td> -->
      </tr>

      <tr>
        <td>
            <ul>
                <li>Get Disabled Accounts
                </li>
            </ul>
        </td>

        <!-- <td >
            <a><img src="/assets/image/status.png" style="height:40px "></a> 
        </td>
      <td>
        <a><img src="/assets/image/status.png" style="height:40px "></a> 
      </td> -->
      <td >
        <select id="city" name="city">
            <option value="1">Platform</option>
            <option value="2">Denever</option>
            <option value="3">Marion</option>
            
          </select>
    </td>
      </tr>

      <tr>
        <td>
            <ul>
                <li>Total Active Accounts 

                </li>
            </ul>
        </td>

       <!--  <td >
            <a><img src="/assets/image/status.png" style="height:40px "></a> 
        </td> -->
        <td >
          <select id="city" name="city">
              <option value="1">Platform</option>
              <option value="2">Denever</option>
              <option value="3">Marion</option>
              
            </select>
      </td>
      </tr>

      <tr>
        <td>
            <ul>
                <li>Registered customers for Specific Service

                </li>
            </ul>
        </td>

        <td >
            <select id="city" name="city">
                <option value="1">Omaha</option>
                <option value="2">Denever</option>
                <option value="3">Marion</option>
                
              </select>
        </td>
      <!-- <td>
        <a><img src="/assets/image/status.png" style="height:40px "></a> 
      </td>
      <td>
        <a><img src="/assets/image/status.png" style="height:40px "></a> 
      </td> -->
      <td >
        <select id="city" name="city">
            <option value="1">Platform</option>
            <option value="2">Denever</option>
            <option value="3">Marion</option>
            
          </select>
    </td>
      </tr>

      <tr>
        <td>
            <ul>
                <li>Find Users Of Specific Service Parameter 
                </li>
            </ul>
        </td>

       <!--  <td >
            <a><img src="/assets/image/status.png" style="height:40px "></a> 
        </td>
      <td>
        <a><img src="/assets/image/status.png" style="height:40px "></a> 
      </td> -->
        <td >
            <select id="city" name="city">
                <option value="1">Platform</option>
                <option value="2">Denever</option>
                <option value="3">Marion</option>
                
              </select>
        </td>
        <td>
            <input type="text" placeholder="Enter value"/>
        </td>
      <td>
          <button>Find</button>
      </td>
      </tr>
  </table>